<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/libros">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Libros</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let libro of libros">
      <ion-label>
        <h2>{{ libro.nombreAutor }}</h2>
        <h3>ISBN: {{ libro.isbn }}</h3>
        <p>Precio: ${{ libro.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="medium" class="ion-text-center" *ngIf="libros.length === 0">
    <p>No tienes libros asignados</p>
  </ion-text>
</ion-content>
