<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-libro-heading" data-cy="LibroCreateUpdateHeading">Create or edit a Libro</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_isbn">Isbn</label>
          <input type="number" class="form-control" name="isbn" id="field_isbn" data-cy="isbn" formControlName="isbn" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nombreAutor">Nombre Autor</label>
          <input
            type="text"
            class="form-control"
            name="nombreAutor"
            id="field_nombreAutor"
            data-cy="nombreAutor"
            formControlName="nombreAutor"
          />
        </div>

        <div class="mb-3">
          <label for="field_users">Users</label>
          <select
            class="form-control"
            id="field_users"
            data-cy="users"
            multiple
            name="users"
            formControlName="users"
            [compareWith]="compareUser"
          >
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
