<ion-header>
  <ion-toolbar>
    <ion-title>Libros</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/mis-libros">
        Mis Libros
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Añadimos los filtros -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Buscar por nombre</ion-label>
          <ion-input [(ngModel)]="filtroNombre" (ionChange)="aplicarFiltros()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Buscar por ISBN</ion-label>
          <ion-input type="number" [(ngModel)]="filtroIsbn" (ionChange)="aplicarFiltros()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let libro of librosFiltrados">
      <ion-label>
        <h2>{{ libro.nombreAutor }}</h2>
        <p>ISBN: {{ libro.isbn }} - Precio: ${{ libro.precio }}</p>
      </ion-label>
      <ion-button (click)="adquirir(libro.isbn)">Adquirir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
